.bg-purple {
    background-color: #289C8E;
  }
  

  .custom-color {
    background-color: #117C6F;
    border-color: #117C6F;
}

.custom-color2 {
  background-color: #289C8E;
  border-color: #289C8E;
}